{% extends "layout.html" %}
{% block content %}
<!-- Body -->
<div class="row row-expand">
  <div class="col-lg-6 align-inner-items-verticle-center">

    <div>
      <h1 class="big-heading">Virtual Eye Assistant for Visually Impaired.</h1>
      <button type="button" class="btn btn-dark btn-lg download-button" onclick="window.location.href='/currency'">
        Currency<br>Recognition</button>
      <button type="button" class="btn btn-outline-light btn-lg download-button"
        onclick="window.location.href='/caption'">
        Image<br>Captioning</button>
    </div>

  </div>

  <div class="col-lg-6 d-flex justify-content-center">
    <img class="title-img" src="../static/images/title-img.png" alt="Some-photo-that-gupta-is-making">
  </div>

</div>
{% endblock %}